{% extends "base.html" %}

{% block content %}
<h2 class="title">
  {{ title }}
</h1>
<ul>
  <li><a href="/">戻る</a></li>
</ul>
<div>
  <p>{{ message }}</p>
  <form method="POST" action="/account/regist">
    <div class="field">
      <div class="control">
        <label for="name">ニックネーム</label>
        <input class="input is-large" type="name" name="name" placeholder="テスト" autofocus="">
      </div>
    </div>
  
    <div class="field">
      <div class="control">
        <label for="email">メールアドレス</label>
        <input class="input is-large" type="email" name="email" placeholder="test@gmail.com" autofocus="">
      </div>
    </div>
  
    <div class="field">
      <div class="control">
        <label for="email">パスワード</label>
        <input class="input is-large" type="password" name="password" placeholder="パスワード">
      </div>
    </div>
    <button class="button is-block is-info is-large is-fullwidth">登録</button>
  </form>  
</div>
{% endblock %}